version: '3.8'

services:
  mediavault:
    build: .
    container_name: mediavault
    env_file:
      - .env
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./media_data:/media
      - ./db_data:/app/data

